@import "monokai.css";
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400&display=swap');
:root {
  font-family: 'Sarabun', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.post img {
  margin: 1em auto;
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1em;
  text-align: center;
}
footer {
  text-align: center;
  margin-bottom: 5vh;
}
h1 a {
  color: black;
}

.post-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2em;
  justify-content: center;
}
.post-item img {
  height: 2em;
  width: 2em;
}
.post-item div {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}
.post-item div h3 {
  margin: 0;
}
.post-item div span {
  color: grey;
}

.post {
  margin: 5vh 30vw;
}
.post-title {
  margin-top: 0;
}

/* code styles  */
.highlight {
  display: inline-block;
  padding: 1em;
  margin: 0;
  border-radius: 5px;
}

/* media queries  */
@media screen and (max-width: 1700px) {
  .post {
    margin: 2.5vh 20vw;
  }
}
@media screen and (max-width: 1050px) {
  .post {
    margin: 0 2em;
  }
}
@media screen and (max-width: 600px) {
  .post {
    margin: 0 1em;
  }
}