<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body style="visibility: hidden;" onload="js_load()">
    <br>
    <div class="content container">
      <div class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-date">{{ page.date | date_to_string }}</span>
        {{ content }}
      </div>
    </div>
    <footer>
      <h1><a href="/tinkering/">tinkering</a></h1>
      <span>A technology blog by </span>
      <h4>Alexander Bailey</h4>
      <div class="links">
        <a href="https://github.com/Kingston802">github</a>
        <br>
        <a href="https://kingston802.github.io/">portfolio</a>
        <br>
        <a href="https://www.linkedin.com/in/alexanderkingstonbailey/">linkedin</a>
        <br>
        <a href="{{ '/feed.xml' | relative_url }}" target="_blank">rss</a>
      </div>
      <br>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </footer>
    <script>
      function js_load() {
        document.body.style.visibility='visible';
      }
    </script>
    <noscript><style>body { visibility: visible; }</style></noscript>
  </body>
</html>


